.app {
  font-family: 'Karla';
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Markazi Text";
}

.button {
  background-color: #F4CE14;
  border-radius: 12px;
  color: #000;
  margin: 0;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-weight: 600;
  width: 175px;
  transition: all 0.2s linear;
}

.clickable:hover {
  transition: all 0.2s linear;
  transform: scale(1.05);
}

.clickable:active {
  background-color: #495e57;
  color: #edefee;
  border: 1px #edefee solid;
  transition: all 0.2s linear;
}

.header, .footer {
  background-color: #edefee;
  padding: 2% 0 2% 0;
}

.header-fluid, .header-fluid ul, .footer-elements {
  display: flex;
  justify-content: space-evenly;
}

.header-fluid nav {
  margin-top: 1%;
}

.header a, .header Link, .footer li {
  margin-right: 1rem;
  list-style: none;
  text-decoration: none;
  color: #000;
  font-weight: 900;
}

.nav-item {
  border-radius: 16px;
  padding: 0.3rem;
}

.basket {
  width: 2rem;
}

.clickable:active {
  background-color: #495e57;
  color: #edefee;
  border: 1px #edefee solid;
  transition: all 0.2s linear;
}

.green {
  background-color: #495e57;
  padding: 2% 0 2% 0;
  height: 275px;
}

.green {
  color: #fff;
}

.green h1 {
  color: #f4ce14;
  font-size: 3.2rem;
  margin: -4% 0 -4% 0;
}

.green p {
  line-height: 1.2rem;
  margin-bottom: 2%;
}

.main-food {
  overflow: visible;
}

.specials {
  margin-top: 5%;
}

.specials h1 {
  font-size: 2.7rem;
  font-weight: 900;
}

.specials .button {
  float: right;
}

.food {
  width: 85%;
  height: 75%;
  margin-left: 15%;
  border-radius: 16px;
  object-fit:cover;
}

.foodCard {
  background-color: #EDEFEE;
  border-radius: 16px 16px 0 0;
  margin-bottom: 15%;
}

.foodImages {
  width: 100% !important;
  border-radius: 16px 16px 0 0;
  margin-bottom: 5%;
}

.booking {
  background-color: #edefee;
}

.booking label {
  display: block;
  height: 40px;
  margin: 0 0 2px 0;
  font-weight: 700;
}

.booking .inputs input {
  display: block;
  height: 35px;
  margin: 0 0 5px 0;
  border-radius: 4px;
}

.booking select {
  display: block;
  background-color: #edefee;
  border-radius: 4px;
  color: #495e57;
  text-align: center;
  font-weight: 700;
  font-size: 0.8rem;
  border: #edefee;
  height: 35px;
  margin: 0 0 5px 0;
  padding: 5px;
  box-shadow: 0 2px 2px #888;
}

.booking select option {
  border: 1px #888 dotted !important;
}

.submitArea {
  display: flex;
  text-align: center !important;
  justify-content: center !important;
  justify-items: center !important;
}

.submit {
  border: 0 !important;
  vertical-align: middle !important;
}

.submit:disabled {
  background-color: #edefee;
  color: #888;
  border: 1px #888 solid !important;
  border-radius: 12px;
}

.customers-say {
  background-color: #fbdabb;
  margin: -1%;
  padding: 2% 0 2% 0;
}

.testimonial {
  background-color: #fff;
  border-radius: 12px;
  padding: 1rem;
  height: 300px;
}

.star {
  width: 0.8rem;
  margin: 0.2rem;
}

.stars {
  margin-bottom: 1rem;
}

.user {
  width: 3rem;
  border-radius: 50%;
  display: inline;
}